* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    
  }
  
  .container1{
      margin: 2px;
  }
  .Row{
    width: 100%;
    display: flex;
   justify-content: center;
    flex-wrap: wrap; 
  }
  .Item-1{ 
   
    position: relative;
    max-width: 400px;
    height: 150px;
    margin: 10px;
  }
   img{
    width: 80%;
    height: 1000px;
    margin: 100px;
   }
   
  
  body {
    font-family: "Figtree", sans-serif;
    background-color:  #c7901a;
   
  }
  p{
    font-size: 19px;
    float: right;
    color: rgb(254, 254, 254);
    margin: 5px;
    font-family: 'Lora', serif;
  }
  li{
    color: azure;
  }
  h1{
  
    color: rgb(255, 255, 255);
      margin: 2px;
      font-size: 45px;
      font-family: 'Lora', serif;

    }
   
  @media screen and (max-width: 1024px) {
    .button a {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .content-wrapper {
      padding-bottom: 50px;
    }
  
    img{
      width: 100%;
    }
  
   img {
      height: 800px;
    }
  }
  
  @media screen and (max-width: 420px) {
    .button a {
      text-align: center;
    }
  }
  